<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9a14ae3558.js" crossorigin="anonymous"></script>

    <title>Easy Islam</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/b.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    
    <link rel="stylesheet" href="assets/css/template-easyislam.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    

  </head>

<body>

 


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">

                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          Easy Islam
                      </a>
                      <!-- ***** Logo End ***** -->

                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#about">About Us</a></li>
                          <li class="scroll-to-section"><a href="#serv">Our Services</a></li>
                          
                          <li class="scroll-to-section"><a href="../Namaztime.html" onclick="addUser()">Prayer Times</a></li> 
                          <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> 
                          <li class="scroll-to-section"><a href="./login.html">SignIn</a></li> 
                          <li class="has-sub">
                            <a href="javascript:void(0)">Being Mu'min</a>
                            <ul class="sub-menu">
                                <li><a href="">Salat Guidelines</a></li>
                                <li><a href="">Hadiths</a></li>
                                <li><a href="">Daily life Duaa's</a></li>
                                <li><a href="">Tasbih Counter</a></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="assets/images/mosqueH1 .mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h4>As-salāmu ʕalaykum wa-raḥmatu llāhi wa-barakātuhu </h4>
              <h2>Welcome to Easy Islam</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed omnis deserunt cupiditate assumenda dignissimos, placeat labore aut accusamus quaerat, fuga maxime earum ab voluptates ipsam odio tempora, eligendi ipsa quia.</p>
              <div class="main-button-red">
                <ul class="nav">
                  <li><a href="./login.html">Login</a></li>
                  <li><a href="./AddUser.html">Register</a></li>
                </ul>  
              </div>
              
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  
 <!-- ***** Upcoming Salat starts ***** -->     
         

  <section class="upcoming-meetings" id="pray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h1>Upcoming Salats</h1>
          </div>
        </div>
       
        <div class="col-lg-12">
          <div class="row">
           
            
            <div class="col-lg-4">
              <div class="meeting-item">
                <div class="thumb">
                  
                  <a href=""><img src="assets/images/timing.webp" alt="Fazr, Duhr, Ashr, Maghrib, Isha"></a>
                </div>
                <div class="down-content">
                  
                  <a href=""><h4>Fazr, Duhr, Ashr, Maghrib, Isha</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="meeting-item">
                <div class="thumb">
                  
                  <a href=""><img src="assets/images/eiiid.webp" alt="Eid, Taraweeh prayer"></a>
                </div>
                <div class="down-content">
                  
                  <a href=""><h4>Eid, Taraweeh prayer</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="meeting-item">
                <div class="thumb">
                  
                  <a href=""><img src="assets/images/friday.jpg" alt="Jummah prayer"></a>
                </div>
                <div class="down-content">
                  
                  <a href=""><h4>Jummah prayer</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="meeting-item">
                <div class="thumb">
                  
                  <a href=""><img src="assets/images/eid.jpg" alt="Other Jamaats"></a>
                </div>
                <div class="down-content">
                  
                  <a href=""><h4>Other Jamaats</h4></a>
                  <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ***** Upcoming salat ends ***** -->

 
 <!-- ***** Our services starts ***** -->          

  <section class="our-courses" id="serv">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Our Services</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <a href=""><img src="assets/images/announcement.png" alt="Give announcements"></a>
              <div class="down-content">
                <h4>Give announcements</h4>
                <div class="info">
                  <div class="row">
                    <div class="">
                      <ul>
                        <li>Donation announcements<br></li>
                        <li>Missing announcements<br></li>
                        <li>Janajaah announcements<br></li>
                      
                      </ul> 
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <a href="login_empty.html"><img src="assets/images/mosque-615415_1280.jpg" alt="Mosques near me"></a>
              <div class="down-content">
                <h4>Mosques near me</h4>
                <div class="info">
                  <div class="row">
                    <div class="">
                      <ul>
                        <li>Find Out mosque through GPS<br></li>
                        <li>Salat and jamat times info<br></li>
                        <li>Entry salat and jamat times <br></li>
                      </ul>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <a href=""> <img src="assets/images/nikah.jpg" alt="Mosque Booking"></a>
              <div class="down-content">
                <h4>Mosque Booking</h4>
                <div class="info">
                  <div class="row">
                    <div class="">
                      <ul style="list-style-type: disc">
                        <li>Wedding Booking<br></li>
                        <li>Milaad Booking<br></li>
                        <li>Janajaah Booking<br></li>
                      
                      </ul>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <a href=""><img src="assets/images/zakat.jpg" alt="Jakat and donations"></a>
              <div class="down-content">
                <h4>Jakat and donations</h4>
                <div class="info">
                  <div class="row">
                    <div class="">
                      <ul>
                        <li>Eid Zakat<br></li>
                        <li>Orphanage Donations<br></li>
                        <li>Mosque Donations<br></li>
                        
                      </ul>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <a href="login_empty.html"><img src="assets/images/quran.jpg" alt="Al-Quran"></a>
              <div class="down-content">
                <h4>Al-Quran</h4>
                <div class="info">
                  <div class="row">
                    <div class="">
                      <ul>
                        <li>Chapter wise Suraah<br></li>
                        <li>Download Suraahs mp3<br></li>
                        <li>Bookmark favourate Suraahs<br></li>
                        
                      </ul>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ***** Ourservices ends ***** -->

<!-- ***** A few facts about our management starts***** -->
  <section class="our-facts" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>A Few Facts About Our Management</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="countingcontent">
                    <div class="digit">1200+</div>
                    <div class="countingtitle">Mosque Registered</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="countingcontent">
                    <div class="digit">126+</div>
                    <div class="countingtitle">Approx Bookings per day</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="countingcontent">
                    <div class="digit">50k tk</div>
                    <div class="countingtitle">Approx Donations per day</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="countingcontent">
                    <div class="digit">10000+</div>
                    <div class="countingtitle">Happy Useres</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <h3>About Us</h3>
          </div>
          <div class="video2">
            <p class="likha">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, tempore repellat. Nulla cum quidem repellendus aspernatur labore rem sit veniam aliquam, dolorem accusantium illo officiis vero, tempore consequatur est suscipit?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum accusantium omnis, molestias est nesciunt et reprehenderit minima tempora, quisquam deserunt, illo soluta aut nulla vel blanditiis aperiam quos corrupti dignissimos?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi beatae aspernatur, sunt ut earum magni voluptates similique et, temporibus odit fugiat maxime illo tempora incidunt. Est praesentium ducimus debitis sunt?</p>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!-- ***** A few facts about our management ends ***** --> 

 <!-- ***** Contact us starts ***** -->

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <h2 style="color:azure">Let's get in touch</h2>
            </div>
            <div class="col-lg-12">
              
                <div class="row">
                  
                 <img src="assets/images/help.webp" height="450" width="50" alt="IRIS">
                 
                  
                </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>010-020-0340</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>easyislam@gmail.com</span>
              </li>
              <li>
                <h6>Social Links</h6>
                <span><i class="fa-brands fa-facebook"></i>Facebook page</span>
                <span><i class="fa-brands fa-twitter"></i>Tweet Us</span>

              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.easyislam.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** contact us ends***** -->
    <!-- ***** footer***** -->
    <div class="footer">
      <p>Copyright © 2023 Easy Islam Co., Ltd. All Rights Reserved. 
          <br>Design: <a href="" target="_parent" title="free css templates">Anan, Ukasha, Kayes</a></p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
      
    function addUser() {
      // Handle add user functionality here
     
      window.location.href = "../Namaztime.html";
    }
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</body>
</html>