<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Donate Now</title>
  <link rel="stylesheet" href="./stylesheet.css">
</head>
<body>
  <div class="container">
    <h1>Donate Now</h1>
    <form id="donationForm">
     
      <div class="form-group">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="Amount" required>
      </div>
      <div class="form-group">
        <label for="mosqueName">Mosque Name:</label>
        <input type="text" id="mosqueName" name="MosqueName" required>
      </div>
      <button type="submit">Donate</button>
    </form>
  </div>

  <script src="scriptmos.js"></script>
</body>
</html>
